body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background-image: url('https://kartinki.pics/uploads/posts/2021-07/1626976093_29-kartinkin-com-p-neitralnii-zadnii-fon-krasivo-29.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.centerItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.active {
  color: yellow !important;
}




